{
  "presets": ["@babel/env", "@babel/react"],
  "plugins": [
    "@babel/plugin-syntax-nullish-coalescing-operator",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "topo": "./src"
      }
    }]
  ]
}
